.rmdp-input {
  height: 2rem;
  display: block;
  width: 100% !important;
  border-width: 2px;
  border-radius: 0.25rem;
  padding: 0.25rem;
}


#profilepic-div:hover #profilepic-content {
  opacity: 0.7 !important;
}

#profilepic-div:hover #profilepic-image {
  opacity: .5 !important;
}