#menu-toggle:checked + #menu {
	display: block !important;
	transition-duration: 500ms;
	animation: fade 500ms;
	-webkit-transition: opacity 300ms, visibility 300ms;
            transition: opacity 300ms, visibility 300ms;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}